<div class="row mt-3">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Search</div>
        <%= search_form_for @q do |f| %>
          <%= f.input :name_cont, label: 'Name contains', required: false, placeholder: 'e.g. Toast' %>
          <%= f.input :open_at_equals, label: 'Filter restaurants open at', required: false, include_blank: true, placeholder: 'yyyy-mm-dd hh:mm (local time)', hint: 'e.g. 2018-10-12 13:44' %>
          <%= f.input :close_at_equals, label: 'Filter restaurants close at', required: false, include_blank: true, placeholder: 'yyyy-mm-dd hh:mm (local time)', hint: 'e.g. 2018-10-12 13:44' %>
          <%= f.submit "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="row mt-3">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Restaurants Count: <%= @restaurants.count %></div>
        <table class="table table-striped">
          <thead>
            <tr><th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <% @restaurants.each do |restaurant| %>
            <tr><td><%= restaurant.name %></td>
                <td><%= periods_in_human_readable_form(restaurant)%></td>
                <td><%= link_to "Detail", restaurant_path(restaurant), class: "btn btn-sm btn-outline-info" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm">
    <%= paginate @restaurants %>
  </div>
</div>
